/* Created by: Shanea Jaromay
* Created on: February 2025
* This file contains the CSS for index.html
*/
body {
  background-color: #a3e0ff;
  text-align: center;
  border: solid thin;
  border-color: black;
}

h1 {
  background-color: #ffffff;
  color: hsl(0 0% 0%);
  padding: 40px;
  text-align: center;
  font-size: 40px;
  border: solid thin;
  border-color: black;
}
h2{
  font-size: small;
  background-color: #ffffff;
  border: solid thin;
  border-color: black;
}
h3{
  font-size: small;
  border: solid thin;
  border-color: black;
}
p{
  background-color:#ffffff;
  font-size: medium;
  border: solid thin;
  border-color: black;
}
ul{
  background-color: #ffffff;
  border: solid thin;
  border-color: black;
}
